<div class="container">

    <div class="card mt-3">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Create Appointment</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <input class="form-control" [(ngModel)]="newAppointmentTitle" placeholder="Appt Description">
            </div>
            <div class="col-md-4">
                <input class="form-control" [(ngModel)]="newAppointmentDate" type="date" placeholder="Appt Date">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100" (click)="addAppointment()">Add</button>
            </div>
        </div>




    </div>

    <h2 class="text-center mt-5">Appointments</h2>

    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let appt of appointments; index as i">{{appt.title}} on {{appt.date}}
            <button class="btn btn-danger" (click)="deleteAppointment(i)">Delete
            </button>
        </li>
    </ul>



</div>





<hr>
<h3>Angular 17 approach
</h3>
<p>
    <a href="https://blog.angular-university.io/angular-for/">Documentation on new for loop</a>
</p>

<table>
    <tr>
        <th>Index</th>
        <th>Id</th>
        <th>Title</th>
        <th>First</th>
        <th>Last</th>
        <th>Odd</th>
        <th>Even</th>
        <th>Count</th>
        <th>ACTIONS</th>
    </tr>

    @for (appt of appointments; track appt.id;
    let index = $index,
    first = $first, last = $last, count = $count,
    odd = $odd, even = $even) {
    <tr>
        <td>{{index}}</td>
        <td>{{appt.id}}</td>
        <td>{{appt.title}}</td>
        <td>{{first}}</td>
        <td>{{last}}</td>
        <td>{{odd}}</td>
        <td>{{even}}</td>
        <td>{{count}}</td>
        <td><button (click)="deleteAppointment(index)">Delete</button></td>
    </tr>
    } @empty {
    <tr>
        <td colspan="9" style="color: blue;">No appointments. Feel free to add one above.</td>
    </tr>
    }
</table>