<app-home></app-home>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label calss="form-label">Check-In Date:</label>
        <input class="form-control" type="date" formControlName="checkInDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid 
            && reservationForm.get('checkInDate')?.touched">Check-In date is required</small>
    </div>
    <div class="mb-3">
        <label calss="form-label">Check-Out Date:</label>
        <input class="form-control" type="date" formControlName="checkOutDate">
        <small class="text-danger"div *ngIf="reservationForm.get('checkOutDate')?.invalid 
            && reservationForm.get('checkOutDate')?.touched">Check-Out date is required</small>
    </div>
    <div class="mb-3">
        <label calss="form-label">Guest Name:</label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid 
            && reservationForm.get('guestName')?.touched">Guest Name is required</small>
    </div>
    <div class="mb-3">
        <label calss="form-label">Guest Email:</label>
        <input class="form-control" type="text" formControlName="guestEmail">
        <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid 
            && reservationForm.get('guestEmail')?.touched">Guest email is required</small>
    </div>
    <div class="mb-3">
        <label calss="form-label">Room Number:</label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid 
            && reservationForm.get('roomNumber')?.touched">Room number is required</small>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>